<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Thank You!!</title>  
  </head>




<body>
<section style="height:100vh;minheight:100vh;minwidth:100vw" class="bg-light">
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for credentials </p>
  <hr>
  <div class="text-center"><img  style="height:30vh" src="{% static 'img/card/thankyou.gif' %}"></div>

  <p class="lead">
    <a class="btn btn-primary btn-sm display-6" href="https://arya17.heroku.app.com" role="button">Continue to homepage</a>
  </p>
</div>
</section>
</body>