{% extends 'home/base.html' %}
{% load static %}


{% block title %}Log-In{% endblock title %}

{% block head %}
    <link type='text/css' href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock head %}
{% block home %}#{% endblock home %}
{% block contact %}#{% endblock contact %}
{% block about %}#{% endblock about %}


 {% block icon %} 
        <ul class="navbar-nav">
        <li class="nav-item">
          
              <a class="nav-brand " href='#section2'> <i class="fa fa-sign-in" style="font-size:1.2rem; color:red " aria-hidden="true"> Log-In</i></a>
          
      </li>
      </ul>

 {% endblock icon %}

{% block body %} 
<section class="text-center px-0 py-0">
        <main  style="background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/37f002aa-032d-480b-9aa7-474adef47ed6/daqohse-f79cb156-0096-4748-9f7e-39b15cf2e86e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzdmMDAyYWEtMDMyZC00ODBiLTlhYTctNDc0YWRlZjQ3ZWQ2XC9kYXFvaHNlLWY3OWNiMTU2LTAwOTYtNDc0OC05ZjdlLTM5YjE1Y2YyZTg2ZS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.epoKh4MwrzDRtlyNjielWQR6wC4tbQycvj1cWVnPXIM)"
   class="page-holder bg-cover ">
        <section class="section1" id="#section1" >
          <h3 class="animate__animated animate__rollIn">Welcome to India </h3>
          <h1>Do Visit The Place <span class="change_content"></span></h1>
          <p>India once is not enough</p><br>
          <a href="/register"class="btn1">Sign-Up</a>
          &nbsp;&nbsp;<a href="#section2"class="btn2">Log-In</a>
         </section>
         </main>
</section>
<section id="section2" class="text-center  mb-0 "  >
    <form class="form-signin" method="post" action="/login">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal"><strong>Please Log-In</strong></h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required
            autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy;2021 <br><i> All Rights Reserved To Arya Sah</i></p>
    </form>
    </section>
{% endblock body %}

        



